/*--- Color Palette

#F5D547 Mustardf
#04348A Dark Cornflower Blue
#F9A495 Vivid Tangerine
#38AECC Pacific Blue
#0090C1 Blue NCS

----------------------*/


/*---Global Styles
----------------------*/

html {
    box-sizing: border-box;
}
body {
    background: #04348A;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

/*---Header 
----------------*/

header {
    text-align: center;
    background-color: #0090C1;
    color: white;
}

/*---Nav
----------------*/

nav {
    text-align: center;
    background-color: #F5D547;
}
nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 1em;
}

/*---Main
---------------*/

main div {
    padding: 1em;
}

/*---Footer
---------------*/

footer {
    text-align: center;
    background-color: #0090C1;
    color: white;
}